# Database
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=analytics

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001
